form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 800px;
    margin: auto;
}

.form-container {
    background-color: whitesmoke;
    margin-top: 100px;
    border: 2px solid black;
    padding: 10px;
}

label {
    margin: 10px;
}

.signup-button {
    margin: auto;
}

h1 {
    text-align: center;
}

header {
    background-color: #A1ADEC;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0;
}